RADIUS_DB_HOST=host.docker.internal
RADIUS_DB_PORT=5432
RADIUS_DB_NAME=mikconnect
RADIUS_DB_USER=mikconnect_radius
RADIUS_DB_PASSWORD=change-me

# Restreindre au sous-réseau privé/VPN des routeurs en production.
RADIUS_CLIENT_NETWORK=10.0.0.0/8
RADIUS_CLIENT_SECRET=change-me-with-at-least-24-random-characters

